*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #909bb8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 90%;
    max-width: 760px;
    display: flex;
}
.gallery{
    flex-basis: 47%;
    background-color: #222;
    padding-top: 100px;
    position: relative;
}
.gallery img{
    width: 100%;
    display: block;
    border-radius: 4px 0 0 4px;
}

.gallery .select{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom: 10px;
    right: 20px;
}
.gallery .select span{
    width: 20px;
    height: 20px;
    background-color: #888;
    border-radius: 50%;
    cursor: pointer;
}
.gallery .select span.active{
    background-color: #eee;
}

.details{
    flex-basis: 53%;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.details .describe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}
.details h1{
    color: #333;
}
.details h2{
    color: #666;
}
.details h3{
    color: #65a049;
    font-size: 15px;
}
.details p{
    font-size: 14px;
    color: #888;
}
.details form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin-top: 10px;
}
/* size box------------------------------------------- */
.size-box{
    font-size: 14px;
    display: flex;
    gap: 10px;
    color: #888;
}
.size-box label:first-child{
    margin-left: 15px;
}
.size-box label{
    cursor: pointer;
}
.size-box input{
    display: none;
}
.size-box span{
    display: block;
    min-width: 15px;
}
.size-box input:checked + span{
    color: #000;
    font-weight: 600;
}
/* Color box ------------------------------------ */
.color-box{
    font-size: 14px;
    color: #888;
    display: flex;
    gap: 10px;
}
.color-box label{
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
}
.color-box input{
    display: none;
}
.color-box input:checked + label{
    /* border-color: #fff;
    outline: 1px solid #000; */
    box-shadow: 0 0 0 1px #fff,
                0 0 0 2px #000;
}
.color-box > div:first-child{
    margin-left: 20px;
}
.color-box .white label{
    background-color: #fff;
}
.color-box .red label{
    background-color: #ff2c2c;
}
.color-box .black label{
    background-color: #222;
}
.color-box .blue label{
    background-color: #276afa;
}
.details .number{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    color: #888;
}
.details .number input{
    border: none;
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 5px;
    max-width: 60px;
}
.details form button{
    background-color: #276afa;
    color: #fff;
    padding: 8px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}